<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soros.androidstudynotes">

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />

    <permission
        android:name="com.soros.study.permission.service.MESSENGER_SERVICE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.soros.study.permission.service.REMOTE_SERVICE"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:clearTaskOnLaunch="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LifeCycleActivity"
            android:label="Activity Study(standard)"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="study.intent.action.STANDARDD_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".AnotherLauncher"
            android:icon="@drawable/common_google_signin_btn_icon_dark_pressed"
            android:label="@string/app_name_alias"
            android:targetActivity=".activity.LifeCycleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".activity.SingleTopActivity"
            android:label="Activity Study(singleTop)"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="study.intent.action.SINGLETOP_ACTIVITY" />

                <category android:name="study.intent.category.SINGLETOP" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SingleTaskActivity"
            android:label="Activity Study(singleTask)"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="study.intent.action.SINGLETASK_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SingleInstanceActivity"
            android:label="Activity Study(singleInstance)"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="study.intent.action.SINGLEINSTANCE_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".webview.WebViewActivity"
            android:label="WebView Study"
            android:process=":web" />

        <service
            android:name=".service.LifeCycleService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".service.ServiceStudyActivity"
            android:label="Service Study"
            android:screenOrientation="portrait" />
        <activity
            android:name=".handler.HandlerStudyActivity"
            android:label="Handler Study"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.LocalBindService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".service.LocalStartService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".service.ServiceStudy2Activity"
            android:label="Service Study2"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.StudyIntentService"
            android:exported="false" />

        <activity
            android:name=".broadcast.BroadcastStudyActivity"
            android:label="Broadcast Study"
            android:screenOrientation="portrait" />
        <activity
            android:name=".thread.ThreadStudyActivity"
            android:label="Thread Study"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.MessengerService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.soros.study.permission.service.MESSENGER_SERVICE">
            <intent-filter>
                <action android:name="com.soros.study.action.MESSENGER_SERVICE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name=".service.RemoteService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.soros.study.permission.service.REMOTE_SERVICE">
            <intent-filter>
                <action android:name="com.soros.study.action.REMOTE_SERVICE" />
            </intent-filter>
        </service>

        <activity android:name=".animation.AnimationActivity"
            android:label="@string/animation"
            android:theme="@style/AppTheme.NoActionBar" ></activity>
        <activity
            android:name=".animation.viewanimation.ViewAnimationActivity"
            android:label="@string/title_activity_view_animation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".animation.drawableanimation.DrawableAnimationActivity"
            android:label="@string/title_activity_drawable_animation"></activity>

        <activity
            android:name=".animation.propertyanimation.PropertyAnimationActivity"
            android:label="@string/title_activity_property_animation"></activity>
    </application>

</manifest>